* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.carousel {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 0); }
  .carousel__arrow {
    border: 1px solid #000;
    background: #fff;
    padding: 5px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0; }
  .carousel__arrow-next {
    left: auto;
    right: 0; }
  .carousel__items {
    width: 250px;
    height: 250px;
    overflow: hidden; }
  .carousel__row {
    display: flex;
    transition: margin-left .6s ease; }
  .carousel__item {
    flex-shrink: 0;
    width: 250px;
    height: 250px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 64px; }
  .carousel__dots {
    bottom: 0;
    position: absolute;
    display: flex;
    left: 50%;
    transform: translateX(-50%); }
  .carousel__dot {
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: 1px solid #666;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    margin: 5px;
    font-size: 0;
    position: relative;
    transition: background .3s ease; }
    .carousel__dot:hover {
      background-color: #ebebeb; }
    .carousel__dot_active::after {
      transition: all .3s ease;
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      background-color: #000;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
