* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.carousel {
  border: 1px solid #000;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 50%;
  height: 50%; }
  .carousel__arrow {
    border: 1px solid #000;
    background-color: rgba(255, 255, 255, 0.6);
    background-image: url("../img/arrow.png");
    background-size: 150%;
    background-position: center center;
    width: 22px;
    height: 22px;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px; }
  .carousel__arrow-next {
    left: auto;
    right: 5px;
    transform: translateY(-50%) rotate(180deg); }
  .carousel__items {
    height: 100%;
    overflow: hidden; }
  .carousel__row {
    height: 100%;
    width: 100%;
    display: flex;
    transition: margin-left .6s ease; }
  .carousel__item {
    flex-shrink: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 64px; }
  .carousel__dots {
    bottom: 0;
    position: absolute;
    display: flex;
    left: 50%;
    transform: translateX(-50%); }
  .carousel__dot {
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: 1px solid #666;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    margin: 5px;
    font-size: 0;
    position: relative;
    transition: background .3s ease; }
    .carousel__dot:hover {
      background-color: #ebebeb; }
    .carousel__dot_active::after {
      transition: all .3s ease;
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      background-color: #000;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .carousel__input {
    position: absolute;
    width: 100%;
    justify-content: center;
    bottom: -72px;
    display: flex; }
  .carousel__add, .carousel__remove {
    margin: 5px;
    cursor: pointer;
    padding: 2px; }
